.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.hidden {
  display: none;
}

.draft {
  a {
    color: lightgray;
  }
}

.draft0 {
  a {
    color: gray;
  }
}

.active {
  background: rgba(0, 0, 0, .04);
}

.menu-icon {
  margin-right: 8px;
}
