<form [formGroup]="form" novalidate (ngSubmit)="onSubmit()">
  <mat-card class="form-login-card">
    <mat-card-header>
      <mat-card-title>Регистрация нового пользователя</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Имя пользователя" formControlName="login">
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Пароль" [type]="hide ? 'password' : 'text'" formControlName="password">
            <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </mat-form-field>
        </div>
      </div>

    </mat-card-content>
    <mat-card-actions>
      <button [disabled]="!form.valid" mat-raised-button color="primary" type="submit">Зарегистрировать</button>
    </mat-card-actions>
  </mat-card>
</form>
